
#root {
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.navbar {
  flex: 0;
  height: 64px;
}

.content {
  flex: 1;
}
